
<div class="container">
  <h2 class="subtitle-resa">Mes Réservations </h2>
  <h3>Bonjour <%= @renter.first_name %> <%= @renter.last_name %></h3>
  <div class="cards-resa">
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-4">
          <div class="card-resa">
            <div class="card-resa-boy">
              <h5><strong><%= booking.boat.title %></strong></h5>
              <p>Réservation du <%= booking.starts_on.strftime("%d %B %Y") %> au <%= booking.ends_on.strftime("%d %B %Y") %></p>
              <p><strong>Prix total : </strong><%= booking.total_price.round(0).to_s.chars.to_a.reverse.each_slice(3).map(&:join).join(" ").reverse %> €</p>
              <p><strong>Statut : </strong><%= booking.status %></p>
            </div>
            <%= cl_image_tag booking.boat.photo.key, alt: "alttext", class: "card-img-top"%>
          </div>
        </div>
      <% end %>
    </div>
</div>
</div>
