  <div class="hero_boat" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.dreamyachtcharter.com/wp-content/uploads/2019/04/bali4-1-ext-av.jpg);">
    <div class="hero_content">
    <h2>Vers l'infini et l'eau du large !</h2>
    <%= link_to "Louer un bateau", boats_path, class: "btn btn-primary" %>
    </div>
  </div>

<div class="container">

  <h2 class="subtitle">Les plus réservés</h2>

  <div class="all_boats">
    <div class="row">
      <% @boats.limit(3).each do |boat| %>
        <div class="col-4">
          <div class="card">
            <%= link_to boat_path(boat) do %>
              <%= cl_image_tag boat.photo.key, alt: "alttext", class: "card-img-top"%>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= boat.title %></h5>
              <%= boat.description.first(120) %><%= "..." %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
