<h2 class="title_index">Tous nos bateaux en location</h2>

<div class="content">

  <div class="cards">
    <%# <div class="row"> %>
      <% @boats.each do |boat| %>
        <%# <div class="col-4"> %>
          <div class="card_index" >
            <%= link_to href: boat_path(boat) do %>
              <%= cl_image_tag boat.photo.key, alt: "alttext", class: "card-img-top"%>
            <% end %>
            <%# <%= link_to "Louer ce bateau", boat_path(boat), class: "btn btn-primary" %>
            <%# <%= cl_image_tag boat.photo.key, alt: "alttext", class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-title"><%= boat.title %></h5>
              <p class="card-text, text-justify">A partir de <%= boat.price_per_day.round(0).to_s.chars.to_a.reverse.each_slice(3).map(&:join).join(" ").reverse %>€ par jour</p>
            </div>
          </div>
        <%# </div> %>
      <% end %>
    <%# </div> %>
  </div>

  <div id="map">
    <%= image_tag("nantes.png", {class: "map-img"}) %>
  </div>
</div>
