<body>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="boat-card">
          <h1><%= @boat.title %></h1>
          <br>
          <%= cl_image_tag @boat.photo.key, height: 500, crop: :fill %>
          <br>
          <br>
          <p> <%= @boat.description %> </p>
          <p><strong>Adresse du bateau :</strong> <%= @boat.address %> </p>
          <p><strong>Tarif à la journée :</strong> <%= @boat.price_per_day.to_i%> €</p>
        </div>

      </div>

      <div class="col-4">
        <div class="form">
        <%= simple_form_for [ @boat, @booking ] do |f| %>
          <div id="booking_form" class="form-inputs" data-price="<%= @boat.price_per_day %>">
            <%= f.input :starts_on,
                        label: "Date d'embarquement",
                        as: :string,
                        required: true,
                        autofocus: true,
                        input_html: { class: "datepicker" } %>
            <%= f.input :ends_on,
                        label: "Date de débarquement",
                        as: :string,
                        required: true,
                        autofocus: true,
                        input_html: { class: "datepicker" } %>
          </div>
          <div id="updated_price"></div>
          <br>
          <div class="form-actions btn-primary text-center">
          <%= f.button :submit, "Réserver" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
